<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <div class="collapse navbar-collapse col-md-2">
    <a class="navbar-link text-white" [routerLink]="['home']">Workout Tracker App</a>  
    <button class="navbar-toggler" type="button" data-toggle="collapse" 
        data-target="#navbarLinks" aria-controls="navbarLinks" 
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
  </div>
    <div class="collapse navbar-collapse" id="navbarLinks">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['AddEmployee']">Add Employee</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" [routerLink]="['EditEmployee']">Edit Employee</a>
        </li>
      </ul> 
    </div>
    </nav>